* {
  border: 0px solid red;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  /*Stops the page from scrolling up or down*/
}

header,
footer {
  background-color: #262626;
}

header {
  height: 5vh;
}

footer {
  display: flex;
  justify-content: center;
  height: 5vh;
  color: gray;

}

#content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-image: url(images/background.jpg);
  background-size: 90vh;
}

#middleContent {
  display: flex;
  flex-direction: column;
  background-color: #595959;
  height: 90vh;
  width: 100vh;
  box-shadow: 0 0 10vh black;
}

.info {
  margin-bottom: 1vh;
}

h1,
h3,
#middleContent>p {
  display: flex;
  justify-content: center;
}

#pickBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
}

#scoreBox {
  display: flex;
  width: 80vh;
  height: 10vh;
  justify-content: space-between;
  align-items: center;
}

#scoreBox>span {
  font-size: 4vh;
  font-weight: 100;
}

#imageBox {
  display: flex;
}

#countDown {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40vh;
  width: 10vh;
  color: crimson;
  font-size: 6vh;
}

.pickImage>img {
  height: 40vh;
  width: 45vh;
  scale: 80%;
}

#buttons {
  display: flex;
  height: 17vh;
  justify-content: space-around;
  align-items: center;
}

#buttons>button:hover,
#reset:hover {
  transition: background-color 150ms linear;
  background-color: #999999;
}

#rBtn,
#pBtn,
#sBtn {
  flex-shrink: 1;
  height: 15vh;
  width: 18vh;
  object-fit: contain;
  background-color: transparent;
  background-size: cover;
  color: transparent;
  border: 0.3vh solid black;
  border-radius: 3vh;
  background-position: center;
}

#rBtn {
  background-image: url(./images/rock.png);
}

#pBtn {
  background-image: url(./images/paper.png);
}

#sBtn {
  background-image: url(./images/scissors.png);
}

#resetBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

#reset {
  background-color: transparent;
  width: 20vh;
  height: 5vh;
  border: black solid 0.3vh;
  border-radius: 3vh;
  margin: 1vh 0;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  display: flex;
  flex-direction: column;
  background-color: #d9d9d9;
  margin: 15% auto;
  padding: 20px;
  border: 2px solid red;
  border-radius: 3vh;
  height: 40vh;
  width: 80vh;
  background-image: url(images/medal.svg);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.modal-content>p {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: auto;
}

#winText {
  font-size: 5vh;
  font-weight: 300;
  background-position: top;
}

.close {
  display: flex;
  justify-content: end;
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}